#gmap {
    width: 100%;
    height: 300px;
}
.container {
    padding: 0;
}
#event-title {
    font-size: 26px;
}
#event-info {
    font-size: 15px;
}
.padding-top {
    padding-top: 50px;
}
#event {
    max-width: 800px;
    margin: 0 auto;
}
.top-radius {
    border-radius: 20px;
}
#main-content {
    padding-bottom: 50px;
}

#event-map-toggle {
    cursor: pointer;
    /* //padding: 5%; */
}
#event-map-toggle:hover {
    color: cadetblue;
}

.content-box{
    background-color: white;
   padding: 2% 0;
}

#event-title{
    background-color:#f675b3;
    padding: 2%;
    color: White;
    font-weight:bolder;
    
}