#gmap {
    width: 100%;
    height: 300px;
}
.container {
    padding: 0;
}
#event-title {
    font-size: 26px;
}
#event-info {
    font-size: 15px;
}
.padding-top {
    padding-top: 50px;
}
#event {
    max-width: 800px;
    margin: 0 auto;
}
.top-radius {
    border-radius: 20px;
}
#main-content {
    padding-bottom: 50px;
}

#event-map-toggle {
    padding: 0 5%;
    cursor: pointer;
    /* //padding: 5%; */
}
#event-map-toggle:hover {
    color: cadetblue;
}

.content-box{
    background-color:white;
    padding: 0 0 2% 0;
    border-radius: 5%;
    
    
}

#event-title{
    background-color:#f675b3;
    padding: 2%;
    color: Black;
    font-weight:bolder;
    border: 5px;
}
#event-title{
    background-color:#f675b3;
    padding: 3%;
    color: Black;
}
#event-time{
    padding: 0 5%;
}

#top-buy-tickets-btn{
    padding: 3%;
    background-color: #f675b3;
    border-color: #f675b3;
    padding: 3%;
}
#top-buy-tickets-btn:hover{
    padding: 3%;
    background-color:white;
    border-color: black;
    color: black;
}

.col-xs-12{

}

#event-sub{
    padding: 10px;
}

.event-cover {
    text-align: center;
    background-color: #d9ceae;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.margin-top {
    margin-top: 50px;
}

#event-detail {
    background-color: #ebe7da;
    padding: 10px;
}
#event-condition {
    background-color: #d9ceae;
    padding: 10px;
}
#event-ticket {
    background-color: #ebe7da;
    padding: 10px;
}