@import url('https://fonts.googleapis.com/css?family=Kanit');
*{
    font-family: 'Kanit', sans-serif;
}
.tab {
    float: left;
    background-color: #f39e98;
    width: 200px;
    height: 100%;
}
.tab button {
    display: block;
    background-color: inherit;
    /*color: black;*/
    padding: 22px 16px;
    width: 100%;
    /*border: none;*/
    /*outline: none;*/
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}
/* Change background color of buttons on hover */
button:hover {
    background-color: #df8a83;
}

/* Create an active/current "tab button" class */
button:active{
    background: #61b3cf;
}


/*table*/

tr th{
    background-color: #f7e881;
    text-align: center;
    border-bottom: 5px solid #f39e98;
}
tr:nth-child(odd) td{
    background-color: #ebe7da;
}tr:nth-child(even) td{
    background-color: #d9ceae;
}

th, td{
     border: 2px solid #f7e881;
}

/*sort table*/
th:hover{
    background-color: #f39e98;
    cursor: pointer;
}
th:active{
    background-color: #61b3cf;
}
