@import url('https://fonts.googleapis.com/css?family=Kanit');
*{
    font-family: 'Kanit', sans-serif;
}
.tab {
    float: left;
    background-color: #f39e98;
    width: 20%;
    height: 100%;
}
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #df8a83;
}

/* Create an active/current "tab button" class */
button:focus{
    background: white;
}

/*user table*/
tr th{
    background-color: #f7e881;
    text-align: center;
    border-bottom: 5px solid #f39e98;
}
tr:nth-child(odd) td{
    background-color: #ebe7da;
}tr:nth-child(even) td{
    background-color: #d9ceae;
}

th, td{
     border: 2px solid #f7e881;
}